extends layout
block body-content
    header 
        style.
            .navbar .nav-link {
                color: #333 !important;
            }
            .input-group{
                margin:0px auto;
            }
        include navbar
    .container.main-container
        h2 #{title}
        .row.d-flex
            .col-sm-12 !{message}              
             