link(rel='stylesheet', href='/css/style.css')
// Footer
footer.bg-light.text-lg-start.mt-auto
    hr.m-0
    // Copyright
    .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
        | &copy; 2023 Copyright 
        a.text-dark(href='/') Project BrainZap
    // Copyright
    // Footer